.text-danger{
   display: none;
}
.text-success{
    display: none;
}
input:focus ~ .text-danger{
    display: block;
}
input:valid ~ .text-danger{
    display: none;
}
input:valid ~ .text-success{
    display: block;
}